.card-overflow{
    max-height: 100px;
    overflow: auto;
}
.carousel::ng-deep .carousel-cells .carousel-cell{
    overflow: visible;
    height: auto!important;
}
.carousel{
    height: 300px!important;
}
.img-photos{
    height: 100%; 
    width:100%;
}
.no-cast-image{
    height: 140px;
    text-align: center;
    margin-top: 50%;
}
.summary-info{
    height: 215px;
    width: 100%;
    max-height: 215px;
    min-height: 215px;
}