<!-- spinner -->
<div *ngIf="loader">
  <div class="text-center padding10" >
    <div class="spinner-border" role="status">
     <span class="sr-only">Loading...</span>
    </div>
  </div>
 </div>
<div *ngIf='!loader'>
    <!-- Show Information -->
    <div class="">
      <div class="paddingLR20">
      <section class="mtop-80">       
        <div *ngIf='showDetails!=null; else noDetails'>
          <div class="">
            <div class="row">              
              <div class="col-sm-4 margin-auto" *ngIf='showDetails.image!=null; else noDetailsImage'>
                <div class="card mt-5 mb-3">
                    <img class="width100" [src]="showDetails.image.medium" alt="No Preview Available"
                      [title]="showDetails.name">
                </div>
              </div>
              <ng-template class="no-preview " #noDetailsImage></ng-template>
              <div class="col-sm-12 mt-5" *ngIf='showDetails.summary!=""; else noSummary'>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">
                      {{showDetails.name}}
                      <div *ngIf='showDetails.rating.average!=null'>
                        <label>Rating: {{showDetails.rating.average}}</label>
                      </div>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{showDetails.genres}}</h6>
                    <p class="card-text">{{showDetails.summary}}</p>
                  </div>
                </div>
              </div>
              <ng-template #noSummary></ng-template>
            </div>
          </div>
        </div>
        <ng-template #noDetails>
          <div class="justify-content-center mt-3">
            <b>No Data Found.</b>
          </div>
        </ng-template>
      </section>
  
      <!-- Seasons Display Section -->
      <section class="mb-2">
        <div *ngIf='seasonsDetails.length>0; else noSeasonsFound'>
          <h4 class="custom-headers paddingT25">
            <span class="popular">Seasons</span>
          </h4>
          <div class="col-12 ">
            <div class="row">
              <carousel>
              <div *ngFor="let seasonsData of seasonsDetails">
                  <div class="card carousel-cell hand zoom">
                    <div class="card-img-top">
                    <div *ngIf='seasonsData.image!=null; else noSeasonImage'>
                      <a href="{{seasonsData.url}}" target="_blank">
                        <img class="img-photos" [src]="seasonsData.image.medium" alt="No Preview Available">
                      </a>
                    </div>
                    <ng-template #noSeasonImage>
                      <div class="no-cast-image">Image Unavailable</div>
                    </ng-template>
                  </div>
                </div>
              </div>
              </carousel>
            </div>
          </div>
        </div>
        <ng-template #noSeasonsFound></ng-template>
      </section>
  
      <!-- Cast Display Section -->
      <section class="mb-1">
        <div *ngIf='castDetails.length>0; else noCastFound'>
          <h4 class="custom-headers mtop-50"><span class="popular">Cast & Crew</span></h4>
          <div class="col-12">
            <div class="row">
              <ng-container *ngFor="let castImages of castDetails">
                <div class="col-6 col-sm-6 col-md-2">
                 <div class="card mt-2 mb-2">
                    <div *ngIf='castImages.person.image!=null; else noCastImage'>
                        <img class="card-img-top img-photos" [src]="castImages.person.image.medium" alt="{{castImages.person.name}}" style="width:100%">
                    </div>
                    <ng-template #noCastImage>
                      <div class="no-cast-image">Image Unavailable</div>
                    </ng-template>
                    <div class="card-body padding10">
                      <p class="card-text">
                        <a target='_blank' href="{{castImages.person.url}}">
                          <span class="ellipsed" title="{{castImages.person.name}}">{{castImages.person.name}}</span>
                        </a>
                      </p>
                    </div>
                 </div>
                </div>             
              </ng-container>
            </div>
           </div>
          </div>
          <ng-template #noCastFound></ng-template> 
      </section>
     </div>
    </div>
  </div>
  