.ml-50p{
    margin-left: 50%;
}
nav {
    background-color: #dfa81a;
}
.white{
    color:#fff;
}
.form-control:focus {
    outline: 0 !important;
    border-color: initial;
    box-shadow: none;
}
.auto-width{
    width: auto !important;
}