<!-- Spinner Start -->
<div *ngIf="!loadData">
  <div class="text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
<!-- Spinner End -->
<!--Back Link Start-->
<div *ngIf='isSearched'>
  <div class="dark-text font12">
    <a routerLink="/shows"><span>&#8592;</span>Back</a>
  </div>
</div>
<!--Back Link End-->
<div>
  <section *ngIf='loadData' class="paddingT25 ">
    <div *ngIf='!isSearched' class="paddingLR20">
      <!--Search Field Start-->
      <div class="input-group col-sm-4 search-field">
        <input class="form-control border-color" type="search" autocomplete="off" placeholder="Search Shows"
          [(ngModel)]='searchChar' (keyup)='valueSearched($event)' id="search">
        <span class="input-group-append">
          <button class="dark-bg btn" type="button" (click)='search()'>
            Search
          </button>
        </span>
      </div>
      <!--Search Field End-->
      <!--All Shows Start-->
      <div class="mb-1">
        <div *ngIf='selectedGenreList.length>0; else notFound'>
          <div *ngFor='let genreInfo of selectedGenreList'>
            <h4 [ngClass]="{'dark-text':genreInfo.genreVal === 'Popular Shows'}">
              <span class="dark-text">{{genreInfo.genreVal}}</span>
            </h4>
            <carousel [cellsToScroll]='2'>
              <div *ngFor="let result of genreInfo.genreData" [id]="result.id">
                <div class="carousel-cell card dark-bg hand carousel-width">
                  <div class="card-img-top">
                    <div *ngIf='result.image!=null; else imageUnavailable'>
                      <img class="" [src]="result.image.medium" [alt]="" [title]="result.name"
                        [routerLink]="['/shows', result.id]" searchChar=''>
                    </div>
                    <ng-template #imageUnavailable>
                      <div class="no-genre-image" [routerLink]="['/shows', result.show.id]">Image Unavailable</div>
                    </ng-template>
                  </div>
                  <div class="card-body padding-card font12">
                    <div class="fontB ellipsed"><span>{{result.name}}</span></div>
                    <div *ngIf='result.rating.average!= null; else ratingUnavailable'>
                      <label>Rating: </label><span class="pl-1">{{result.rating.average}}</span> <span>/10</span>
                    </div>
                    <ng-template #ratingUnavailable>
                      <label>Rating: </label><span class="pl-1">N/A</span>
                    </ng-template>
                  </div>
                </div>
              </div>
            </carousel>
          </div>
        </div>
        <ng-template #notFound>
          <div class="text-center mt-3">
            <b>No Data Found.</b>
          </div>
        </ng-template>
      </div>
    </div>

    <!--Search Results Start-->
    <div *ngIf='isSearched' class="paddingLR20">
      <div class="mb-1">
        <h4>
          <span class="dark-text">Search Results</span>
        </h4>
        <div *ngIf='searchCharShows.length>0; else noResultFound'>
          <carousel>
            <div *ngFor="let result of searchCharShows" [id]="result.show.id">
              <div class="carousel-cell card hand">
                <div class="card-img-top">
                  <div *ngIf='result.show.image!=null; else searchImageUnavailable'>
                    <img class="" [src]="result.show.image.medium" [alt]="" [title]="result.show.name"
                      [routerLink]="['/shows', result.show.id]">
                  </div>
                  <ng-template #searchImageUnavailable>
                    <div class="no-genre-image-search" [routerLink]="['/shows', result.show.id]">Image Unavailable</div>
                  </ng-template>
                </div>
                <div class="card-body padding-card font12 fontB">
                  <div><span class="ellipsed">{{result.show.name}}</span></div>
                  <div *ngIf='result.show.rating.average!=null; else searchRatingUnavailable'>
                    <span class="pl-1">{{result.show.rating.average}}</span><span>/10</span>
                  </div>
                  <ng-template #searchRatingUnavailable>
                    <span class="pl-1">N/A</span>
                  </ng-template>
                </div>
              </div>
            </div>
          </carousel>
        </div>
        <ng-template #noResultFound>
          <div class="text-center mt-3">
            <b>No Results Found For: '{{searchChar}}'.</b>
          </div>
        </ng-template>
      </div>
    </div>
    <!--Search Results End-->

  </section>
</div>
<!--All Shows End-->