<section class="mb-2">
  <div *ngIf='seasonsDetails.length>1; else noSeasonsFound'>
    <h4 class="custom-headers paddingT25">
      <span class="popular">Seasons</span>
    </h4>
    <div class="col-12 ">
      <div class="row">
        <ng-container *ngFor="let seasonsData of seasonsDetails">
          <div class="col-6 col-sm-6 col-md-2">
            <div class="card mt-2 mb-2" *ngIf='seasonsData.image!=null; else noSeasonImage'>
              <div class="card-img-top">
                <img class="img-photos" [src]="seasonsData.image.medium" alt="No Preview Available">
              </div>
            </div>
            <ng-template #noSeasonImage></ng-template>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <ng-template #noSeasonsFound></ng-template>
</section>