/* You can add global styles to this file, and also import other style files */
.margin-auto{
    margin: auto;
}
.marginT-80{
    margin-top: 80px;
}
.paddingT25{
    padding-top: 25px;
}
.paddingT{
    padding-top: 20px;
}
.padding-card{
    padding: 5px 10px;
}
.padding25{
    padding: 25px;
}
.paddingLR20{
    padding: 0 40px;
}
.border0{
    border: 0;
}
.font12{
    font-size: 12px;
}
.font16{
    font-size: 16px;
}
.fontB{
    font-weight: 600;
}
.text-white{
    color: white;
}
.width100{
    width: 100%;
}
.display-flex{
    display: flex;
}
.dark-bg{
    background-color:#623645;
    color: #fff;
}
.dark-text{
    color: #623645;
}
.card{
    border-radius: 0;
}
.ellipsed {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}
.spinner-border{
    color: #623645;
}
.hand{
    cursor: pointer;
}
.img-photos{
    height: 100%; 
    width:100%;
}
.no-cast-image{
    height: 127px;
    text-align: center;
    margin-top: 50%;
}